<div class="py-4 background__lighter-blue">
  <div class="container p-3">
    <div class="row">
      <div class="col-md-12">
        <marquee>
          <h1 class="text-center p-4">
            RollingRadius helps you: Find load for fleet, Find vehicles for load
            to send, Book vehicle and manage the trip, Manage fleet of vehicles.
          </h1>
        </marquee>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-6 p-3 col-md-6">
        <div class="card shadow border-0">
          <div class="card-header">
            <h2 class="text-center">Vehicle</h2>
          </div>
          <div class="card-body p-5">
            <div class="row">
              <div class="col-lg-6 col-md-12 mb-1 col-sm-12">
                <a class="btn btn-block btn-success" href="#">
                  <i class="fa fa-search mr-2"></i>Search
                </a>
              </div>
              <div class="col-lg-6 col-md-12 col-sm-12">
                <a class="btn btn-block btn-info" href="#">
                  <i class="fa fa-cog fa-1x fa-fw mr-2"></i>Manage
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 p-3 col-md-6">
        <div class="card shadow border-0">
          <div class="card-header">
            <h2 class="text-center">Parcel</h2>
          </div>
          <div class="card-body p-5">
            <div class="row">
              <div class="col-lg-6 col-md-12 mb-1 col-sm-12">
                <a class="btn btn-block btn-success" href="#">
                  <i class="fa fa-search mr-2"></i>Search
                </a>
              </div>
              <div class="col-lg-6 col-md-12 col-sm-12">
                <a class="btn btn-block btn-info" href="#">
                  <i class="fa fa-cog fa-1x fa-fw mr-2"></i>Manage
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
