<!-- <div class="text-center py-3 background__lighter-blue">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>Testimonials</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5" style="background-image: url(https://static.pingendo.com/cover-bubble-dark.svg); background-position: right bottom;  background-size: cover; background-repeat: repeat; background-attachment: fixed;">
    <div class="container">
      <div class="">
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="row">
                <div class="ml-auto p-3 col-md-2 bg-white"> <img class="img-fluid d-block rounded-circle" src="https://static.pingendo.com/img-placeholder-1.svg"> </div>
                <div class="mr-auto p-3 col-md-7 bg-white text-dark">
                  <div class="blockquote mb-0">
                    <p>Absolutely loved using RollingRadius and going to use for years to come. I tried reaching out to every transporter I knew in Jaipur and Bassi but could not find any who was willing to take my Load from Bassi to Gajrola. Gajrola being a small place was not the ideal place for people to drive vehicle "to and from" and then I opened the application and BAM! I got a list of transporters who operated in UP and within first few calls I was able to find transporters who were ready to deliver my Load. Thanks RollingRadius!!</p>
                    <div class="blockquote-footer"> <b>J. W. Goethe</b>, CEO at Werther Inc.</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="row">
                <div class="ml-auto p-3 col-md-2 bg-white"> <img class="img-fluid d-block rounded-circle" src="https://static.pingendo.com/img-placeholder-1.svg"> </div>
                <div class="p-3 col-md-7 mr-auto bg-white text-dark">
                  <div class="blockquote mb-0">
                    <p>Absolutely loved using RollingRadius and going to use for years to come. I tried reaching out to every transporter I knew in Jaipur and Bassi but could not find any who was willing to take my Load from Bassi to Gajrola. Gajrola being a small place was not the ideal place for people to drive vehicle "to and from" and then I opened the application and BAM! I got a list of transporters who operated in UP and within first few calls I was able to find transporters who were ready to deliver my Load. Thanks RollingRadius!!</p>
                    <div class="blockquote-footer"> <b>J. W. Goethe</b>, CEO at Werther Inc.</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="row">
                <div class="ml-auto p-3 col-md-2 bg-white"> <img class="img-fluid d-block rounded-circle" src="https://static.pingendo.com/img-placeholder-1.svg"> </div>
                <div class="p-3 col-md-7 mr-auto bg-white text-dark">
                  <div class="blockquote mb-0">
                    <p>Absolutely loved using RollingRadius and going to use for years to come. I tried reaching out to every transporter I knew in Jaipur and Bassi but could not find any who was willing to take my Load from Bassi to Gajrola. Gajrola being a small place was not the ideal place for people to drive vehicle "to and from" and then I opened the application and BAM! I got a list of transporters who operated in UP and within first few calls I was able to find transporters who were ready to deliver my Load. Thanks RollingRadius!!</p>
                    <div class="blockquote-footer"> <b>J. W. Goethe</b>, CEO at Werther Inc.</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>
  </div>
   -->
   <div class="text-center py-3 background__lighter-blue">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>Testimonials</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5" style="background-image: url(https://static.pingendo.com/cover-bubble-dark.svg); background-position: right bottom;  background-size: cover; background-repeat: repeat; background-attachment: fixed;">
    <div class="container">
      <div class="">
        <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="row">
                <div class="ml-auto p-3 col-md-2 bg-white"> <img class="img-fluid d-block rounded-circle" src="https://static.pingendo.com/img-placeholder-1.svg"> </div>
                <div class="p-3 col-md-7 mr-auto bg-white text-dark">
                  <div class="blockquote mb-0">
                    <p>Absolutely loved using RollingRadius and going to use for years to come. I tried reaching out to every transporter I knew in Jaipur and Bassi but could not find any who was willing to take my Load from Bassi to Gajrola. Gajrola being a small place was not the ideal place for people to drive vehicle "to and from" and then I opened the application and BAM! I got a list of transporters who operated in UP and within first few calls I was able to find transporters who were ready to deliver my Load. Thanks RollingRadius!!</p>
                    <div class="blockquote-footer"> <b>J. W. Goethe</b>, CEO at Werther Inc.</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="row">
                <div class="ml-auto p-3 col-md-2 bg-white"> <img class="img-fluid d-block rounded-circle" src="https://static.pingendo.com/img-placeholder-1.svg"> </div>
                <div class="p-3 col-md-7 mr-auto bg-white text-dark">
                  <div class="blockquote mb-0">
                    <p>Absolutely loved using RollingRadius and going to use for years to come. Thanks RollingRadius!!</p>
                    <div class="blockquote-footer"> <b>J. W. Goethe</b>, CEO at Werther Inc.</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="row">
                <div class="ml-auto p-3 col-md-2 bg-white"> <img class="img-fluid d-block rounded-circle" src="https://static.pingendo.com/img-placeholder-1.svg"> </div>
                <div class="p-3 col-md-7 mr-auto bg-white text-dark">
                  <div class="blockquote mb-0">
                    <p>Absolutely loved using RollingRadius and going to use for years to come. I tried reaching out to every transporter I knew in Jaipur and Bassi but could not find any who was willing to take my Load from Bassi to Gajrola. Gajrola being a small place was not the ideal place for people to drive vehicle "to and from" and then I opened the application and BAM! I got a list of transporters who operated in UP and within first few calls I was able to find transporters who were ready to deliver my Load. Thanks RollingRadius!!</p>
                    <div class="blockquote-footer"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>
  </div>


  