.background__lighter-blue{
    background-color: #F5F8fb;
}

.carousel-control-prev, .carousel-control-next{
    top: 35%;
    bottom: 35%;
    width: 5%;
    background-color: #1C272B;
}
.blockquote > p {
    height: 250px;
}