<nav>
	<div class="nav nav-tabs" id="nav-tab" role="tablist">
		<a class="nav-item nav-link active" id="nav-user-tab" data-toggle="tab" href="#nav-user" role="tab"
			aria-controls="nav-user" aria-selected="true">User</a>

		<a class="nav-item nav-link" id="nav-company-tab" data-toggle="tab" href="#nav-company" role="tab"
			aria-controls="nav-company" aria-selected="false">Company</a>

		<a class="nav-item nav-link" id="nav-pns-tab" data-toggle="tab" href="#nav-pns" role="tab"
			aria-controls="nav-pns" aria-selected="false">Product & Service</a>

		<a class="nav-item nav-link" id="nav-administration-tab" data-toggle="tab" href="#nav-administration" role="tab"
			aria-controls="nav-administration" aria-selected="false">Administration</a>
	</div>
</nav>
<div class="tab-content" id="nav-tabContent">
	<div class="tab-pane fade show active" id="nav-user" role="tabpanel" aria-labelledby="nav-user-tab">

		<div class="row">

			<div class="col-sm-4">
				<div class="card">
					<div class="card-body">
						<h5 class="card-title">Record</h5>
						<p class="card-text">When user registers it created a record.</p>
						<div class="btn-group" role="group" aria-label="Users">
							<button type="button" class="btn btn-secondary">List</button>
							<button type="button" class="btn btn-secondary">Create</button>
							<button type="button" class="btn btn-secondary">Report</button>
						</div>
					</div>
				</div>
			</div>

			<div class="col-sm-4">
				<div class="card">
					<div class="card-body">
						<h5 class="card-title">Fact</h5>
						<p class="card-text">Each user has facts associated</p>
						<div class="btn-group" role="group" aria-label="User Facts">
							<button type="button" class="btn btn-secondary">Fact List</button>
							<button type="button" class="btn btn-secondary">Create Fact</button>
							<button type="button" class="btn btn-secondary">Facts of Users</button>
							<button type="button" class="btn btn-secondary">Assign Fact to User</button>
							<button type="button" class="btn btn-secondary">Report</button>
						</div>
					</div>
				</div>
			</div>

			<div class="col-sm-4">
				<div class="card">
					<div class="card-body">
						<h5 class="card-title">Events</h5>
						<p class="card-text">Each user has events associated</p>
						<div class="btn-group" role="group" aria-label="User Events">
							<button type="button" class="btn btn-secondary">Event List</button>
							<button type="button" class="btn btn-secondary">Create Event</button>
							<button type="button" class="btn btn-secondary">Events of Users</button>
							<button type="button" class="btn btn-secondary">Assign Event to User</button>
							<button type="button" class="btn btn-secondary">Report</button>
						</div>
					</div>
				</div>
			</div>

		</div><!-- class="row"  -->
	</div><!-- id="nav-user" -->

	<div class="tab-pane fade" id="nav-company" role="tabpanel" aria-labelledby="nav-company-tab">

		<div class="row">

			<div class="col-sm-4">
				<div class="card">
					<div class="card-body">
						<h5 class="card-title">Record</h5>
						<p class="card-text">When company company registers it created a record.</p>
						<div class="btn-group" role="group" aria-label="Company">
							<button type="button" class="btn btn-secondary">List</button>
							<button type="button" class="btn btn-secondary">Create</button>
							<button type="button" class="btn btn-secondary">Report</button>
						</div>
					</div>
				</div>
			</div>

			<div class="col-sm-4">
				<div class="card">
					<div class="card-body">
						<h5 class="card-title">Fact</h5>
						<p class="card-text">Each company has facts associated</p>
						<div class="btn-group" role="group" aria-label="Company Facts">
							<button type="button" class="btn btn-secondary">Fact List</button>
							<button type="button" class="btn btn-secondary">Create Fact</button>
							<button type="button" class="btn btn-secondary">Facts of Companies</button>
							<button type="button" class="btn btn-secondary">Assign Fact to Company</button>
							<button type="button" class="btn btn-secondary">Report</button>
						</div>
					</div>
				</div>
			</div>

			<div class="col-sm-4">
				<div class="card">
					<div class="card-body">
						<h5 class="card-title">Events</h5>
						<p class="card-text">Each Company has events associated</p>
						<div class="btn-group" role="group" aria-label="Company Events">
							<button type="button" class="btn btn-secondary">Event List</button>
							<button type="button" class="btn btn-secondary">Create Event</button>
							<button type="button" class="btn btn-secondary">Events of Companies</button>
							<button type="button" class="btn btn-secondary">Assign Event to Company</button>
							<button type="button" class="btn btn-secondary">Report</button>
						</div>
					</div>
				</div>
			</div>

		</div> <!-- class="row" -->

		<div class="row">

			<div class="col-sm-4">
				<div class="card">
					<div class="card-body">
						<h5 class="card-title">Workers</h5>
						<p class="card-text">A list of workers for the company</p>
						<div class="btn-group" role="group" aria-label="Workers">
							<button type="button" class="btn btn-secondary">List</button>
							<button type="button" class="btn btn-secondary">Timesheet</button>
              <button type="button" class="btn btn-secondary">Roles</button>
              <button type="button" class="btn btn-secondary">Team</button>
							<button type="button" class="btn btn-secondary">Report</button>
						</div>
					</div>
				</div>
			</div>

			<div class="col-sm-4">
				<div class="card">
					<div class="card-body">
						<h5 class="card-title">Vehicles</h5>
						<p class="card-text">Vehicles owned by company</p>
						<div class="btn-group" role="group" aria-label="Company Vehicles">
							<button type="button" class="btn btn-secondary">Vehicle List</button>
							<button type="button" class="btn btn-secondary">Check Status</button>
							<button type="button" class="btn btn-secondary">Assign Drivers</button>
							<button type="button" class="btn btn-secondary">Manage Repairs</button>
							<button type="button" class="btn btn-secondary">Report</button>
						</div>
					</div>
				</div>
			</div>

			<div class="col-sm-4">
				<div class="card">
					<div class="card-body">
						<h5 class="card-title">Blogs</h5>
						<p class="card-text">Add blogs agout the comapny, products and servers</p>
						<div class="btn-group" role="group" aria-label="Company Blogs">
							<button type="button" class="btn btn-secondary"> List</button>
							<button type="button" class="btn btn-secondary">Create</button>
							<button type="button" class="btn btn-secondary">Report</button>
						</div>
					</div>
				</div>
			</div>

		</div> <!-- class="row" -->

    <div class="row">

      <div class="col-sm-4">
				<div class="card">
					<div class="card-body">
						<h5 class="card-title">Testimoniols</h5>
						<p class="card-text">Testimoniols provided by customers</p>
						<div class="btn-group" role="group" aria-label="Products">
							<button type="button" class="btn btn-secondary">List</button>
							<button type="button" class="btn btn-secondary">Create</button>
							<button type="button" class="btn btn-secondary">Report</button>
						</div>
					</div>
				</div>
			</div>
      	</div> <!-- class="row" -->
	</div><!-- id="nav-company" -->

	<div class="tab-pane fade" id="nav-pns" role="tabpanel" aria-labelledby="nav-pns-tab">

		<div class="row">

			<div class="col-sm-">
				<div class="card">
					<div class="card-body">
						<h5 class="card-title">Products</h5>
						<p class="card-text">A list of products of the company</p>
						<div class="btn-group" role="group" aria-label="Products">
							<button type="button" class="btn btn-secondary">List</button>
							<button type="button" class="btn btn-secondary">Create</button>
							<button type="button" class="btn btn-secondary">Report</button>
						</div>
					</div>
				</div>
			</div>

			<div class="col-sm-4">
				<div class="card">
					<div class="card-body">
						<h5 class="card-title">Services</h5>
						<p class="card-text">Services by company</p>
						<div class="btn-group" role="group" aria-label="Company Services">
							<button type="button" class="btn btn-secondary">List</button>
							<button type="button" class="btn btn-secondary">Create</button>
							<button type="button" class="btn btn-secondary">Report</button>
						</div>
					</div>
				</div>
			</div>

		</div> <!-- class="row" -->

  </div><!-- nav-pns-tab -->


	<div class="tab-pane fade" id="nav-administration" role="tabpanel" aria-labelledby="nav-administration-tab">

				<div class="row">

			<div class="col-sm-4">
				<div class="card">
					<div class="card-body">
						<h5 class="card-title">General Ledger</h5>
						<p class="card-text">Transection of sale and purchase</p>
						<div class="btn-group" role="group" aria-label="Products">
							<button type="button" class="btn btn-secondary">List</button>
							<button type="button" class="btn btn-secondary">Create</button>
							<button type="button" class="btn btn-secondary">Report</button>
						</div>
					</div>
				</div>
			</div>

		</div> <!-- class="row" -->

	</div> <!-- id="nav-administration" -->
</div>