<!-- <div class="py-5 text-center">
    <div class="container">
      <div class="row">
        <div class="mx-auto col-lg-10">
          <h1>Choose your way</h1>
          <div class="row">
            <div class="col-md-6 mt-3">
              <div class="border p-4 ">
                <h3 class="mb-3">Advertisement Plans</h3>
                <p class="mb-4">Grow your business with Vehicle Ads at just Rs 250 per month</p> <a class="btn btn-secondary mr-2" href="#">check pricing</a>
                <a class="btn btn-secondary" href="#">Talk to Us</a>
              </div>
            </div>
            <div class="col-md-6 mt-3">
              <div class="border p-4 ">
                <h3 class="mb-3">Membership Plans</h3>
                <p class="mb-4">Our plans begin as low as Rs 499 six months</p> <a class="btn btn-secondary mr-2" href="#">check pricing</a>
                <a class="btn btn-secondary" href="#">Talk to Us</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
   -->

   <div class="py-5 text-center background__lighter-blue">
    <div class="container">
      <div class="row">
        <div class="mx-auto col-lg-12">
          <h1>Choose your way</h1>
          <div class="row">
            <div class="col-md-6 mt-3">
              <div class="card border-0 shadow p-4">
                <div class="card-body">
                  <h3>Advertisement Plans</h3>
                  <div class="row justify-content-center">
                    <p class="my-3">Grow your business with Vehicle Ads at just Rs 250 per month</p> 
                  </div>
                  <div class="row">
                    <div class="col-lg-6 col-md-12 mb-1 col-sm-12">
                      <a class="btn btn-block btn-secondary" href="#"><i class="fa fa-money d-inline mr-2 text-light" aria-hidden="true"></i> Check Pricing</a>
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12">
                      <a class="btn btn-block btn-secondary" href="#"><i class="fa d-inline mr-2 text-light fa-phone"></i> Talk to Us</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 mt-3">
              <div class="card border-0 shadow p-4">
                <div class="card-body">
                <h3>Membership Plans</h3>
                <div class="row justify-content-center">
                  <p class="my-3">Our plans begin as low as Rs 499 six months</p>
                </div>
                <div class="row">
                  <div class="col-lg-6 col-md-12 mb-1 col-sm-12">
                    <a class="btn btn-block btn-secondary" href="#"><i class="fa fa-money d-inline mr-2 text-light" aria-hidden="true"></i> Check Pricing</a>
                  </div>
                  <div class="col-lg-6 col-md-12 col-sm-12">
                    <a class="btn btn-block btn-secondary" href="#"><i class="fa d-inline mr-2 text-light fa-phone"></i> Talk to Us</a>
                  </div>
                </div>
              </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  